#room-bar .bar-value{
 color:  #FF0000;
}
#room-name {
 text-shadow: 2px 1px 0px black;
}
#room-host {
 opacity: 0.5;
}
#room-host:hover {
 opacity: 1;
 cursor: help;
}
/* PlayBack */
#playback .background {
 visibility: hidden;
}
.torch {
 visibility: hidden;
}
#playback-container {
 border: 1px #a832ff solid;
}
#playback-container {
 border-top: none;
}
#playback-container {
 background-color: rgba(0, 0, 0, 0.80);
}
.group.host {
 color: #00D8BF;
}
.icon-chat-host {
 background: url(http://i.imgur.com/0Jrzy4t.png);
}
.icon-chat-host + span {
 color: #00D8BF !important;
}
.groupe.cohost {
 color: #0000FF;
}
.icon-chat-cohost {
 background: url(http://i.imgur.com/gsHBjzQ.png);
}
.icon-chat-cohost + span {
 color: #0000FF !important;
}
.group.manager {
    color: #6600FF;
}
.icon-chat-manager {
    background: url(http://i.imgur.com/wumzCq4.png);
}
.icon-chat-manager + span {
 color: #6600FF !important;
}
.group.bouncer {
 color: #9933FF;
}
.icon-chat-bouncer {
 background: url(http://i.imgur.com/FuSC7d4.png);
}
.icon-chat-bouncer + span {
 color: #9933FF !important;
}
.group.dj {
 color: #FF00FF;
}
.icon-chat-dj {
 background: url(http://i.imgur.com/VTztbj9.png);
}
.icon-chat-dj + span {
 color: #FF00FF !important;
}
.group.subscriber {
 color: #FFCC00;
}
.icon-chat-subscriber {
 background: url(http://i.imgur.com/Tibtg2B.gif);
}
.icon-chat-subscriber + span {
 color: #FFCC00 !important;
}
/* Transparence */
#app-menu.in-room {
 background-color: rgba(0, 0, 0, 0.30);
}
.app-header {
  background-color: rgba(0, 0, 0, 0.70);
}
#history-button {
 background-color: rgba(0, 0, 0, 0.30);
 border-right: 1px solid black;
}
#rs-skip-button {
 background-color: rgba(0,0,0,0.3) !important; 
 border-right: 1px solid black;
}
.app-right {
  background: rgba(0,0,0,0.7) !important;
}
#chat-input {
 border-radius: 13px;
}
.friends {
 background: rgba(0,0,0,0.00) !important;
}
#room-settings {
 background: rgba(0, 0, 0, 0.90);
}
#footer-user .info.showing {
 background-color: rgba(0, 0, 0, 0.90);
}
#footer {
 background-color: rgba(0, 0, 0, 0.70);
}
#dj-button {
 background: rgba(0, 0, 0, 0.70) none repeat scroll 0 0;
}
/* Correction transparence */
#app-menu.in-room.open {
 background-color: #1c1f25;
}
.header-panel-button {
 background-color: #1c1f25;
 border: 1px solid black;
}
.header-panel-button.selected {
 background-color: #0a0a0a;
}
#chat-header {
 background-color: #3B0047;
}
#user-lists .header {
 background-color: #0a0a0a;
}
#waitlist .header {
 background-color: #0a0a0a;
}
.friends .list-header {
 background-color: #0a0a0a;
}
#rcs-menu .header {
 background-color: #0a0a0a;
}
#rcs-found-update {
 color: #FF0027;
}
#rcs-group-mf {
 color: #FF0027;
}
#rcs-group-cn {
 color: #FF0027;
}
#rcs-group-s {
 color: #FF0027;
}
#rcs-group-c {
 color: #FF0027;
}
#rcs-group-m {
 color: #FF0027;
}
#rcs-menu-container .group {
 color: #FF0027;
}
#rcs-appright-button {
 opacity: 0.7;
}
#rcs-appright-button:hover {
 opacity: 1;
}
#rcs-appright-button.header-panel-button.selected {
 opacity: 1;
}
#chat .cm.deletable .delete-button {
 border-radius: 4px;
 background: linear-gradient(hsl(0,0%,30%), hsl(0,0%,40%));
}
#chat .cm.deletable .delete-button:hover {
 background: linear-gradient(hsl(179,100%,50%), hsl(189,100%,50%));
 box-shadow: 0 0 10px hsl(189,100%,50%);
 color: black;
}
#chat-input {
 box-shadow: 0px 0px 15px 0px rgba(0,249,180,0.5);
}
#chat-input.focused {
 box-shadow: 0px 0px 15px 0px rgba(0,249,180,0.5) !important;
}
#footer-user .buttons .button .count, #user-menu .item .count, #friends-button .request-count, #user-friends .tab-menu button .count{
 background: #088da5 none repeat scroll 0 0;
}
#user-menu .item.selected {
 background: #32234c none repeat scroll 0 0 !important;
}
#dj-button .left {
 border-radius: 5px;
}
#meh, #grab, #woot {
 border-radius: 6px;
}
