/* Created By Stormy Clouds */
/* ------------------- */
#room-bar .icon-room {
	background: url(https://i.imgur.com/ud13DuF.gif);
}
#room-bar .bar-value{
	color: #9612D9;
}
#room-name {
	text-shadow: 2px 1px 0px black;
}
#room-host {
	opacity: 0.5;
}
#room-host:hover {
	opacity: 1;
	cursor: help;
}
/* PlayBack */
#playback .background img {
	background: url(https://i.imgur.com/Mxj1yzd.png);
}
.torch {
	visibility: hidden;
}
#playback-container {
	border-top: none;
}
.icon-chat-ambassador + span {
	color: #00FF6E;
}
.group.host {
	color: #00D8BF;
}
.icon-chat-host {
	background: url(https://i.imgur.com/4O2bpFE.png);
}
.icon-chat-host + span {
	color: #00D8BF !important;
}
.groupe.cohost {
	color: #35B7FD;
}
.icon-chat-cohost {
	background: url(http://i.imgur.com/AHw4sjR.png);
}
.icon-chat-cohost + span {
	color: #35B7FD !important;
}
.group.manager {
    color: #6600FF;
}
.icon-chat-manager {
    background: url(https://i.imgur.com/ftFd7uo.png);
}
.icon-chat-manager + span {
	color: #6600FF !important;
}
.group.bouncer {
	color: #9933FF;
}
.icon-chat-bouncer {
	background: url(https://i.imgur.com/0yBcyTs.png);
}
.icon-chat-bouncer + span {
	color: #9933FF !important;
}
.group.dj {
	color: #FF00FF;
}
.icon-chat-dj {
	background: url(https://i.imgur.com/YSzVs24.png);
}
.icon-chat-dj + span {
	color: #FF00FF !important;
}
.icon.icon-chat-subscriber {
	background: url(https://i.imgur.com/WUkdVqo.png);
}
.icon.icon-chat-subscriber + span {
	color: #ECBE04;
}
.icon.icon-chat-silver-subscriber {
	background: url(https://i.imgur.com/NUrJJJv.png) ;
}
.icon.icon-chat-silver-subscriber + span.name {
	color: #F0F0F0 !important;
}
.is-subscriber.silver .name {
	color: #F0F0F0 !important;
}
#chat .from .un {
	color: #F70000;
}
#waitlist .user {
	color: #F70000;
}
/* Transparence */
#app-menu.in-room {
	background-color: #5A0984;
}
.app-header {
	background-color: #5A0984;
}
#history-button {
	background-color: #0A5F53;
	border-right: 1px solid black;
}
#rs-skip-button {
	background-color: rgba(0,0,0,0.3) !important; 
	border-right: 1px solid black;
}
.app-right {
	background: #6D0000 !important;
}
#chat-input {
	border-radius: 13px;
}
.friends {
	background: #110119 !important;
}
#room-settings {
	background: #0A011D;
}
#footer-user .info.showing {
	background-color: #150025;
}
#footer {
	background-color: #150025;
}
#dj-button {
	background: #0C0029 none repeat scroll 0 0;
}
#playlist-panel {
	background: rgba(0, 0, 0, 0.90);
}
#playlist-menu {
	background: rgba(0, 0, 0, 0.20);	
}
/* Correction transparence */
#app-menu.in-room.open {
	background-color: #63188C;
}
.header-panel-button {
	background-color: #000000;
	border: 1px solid black;
}
.header-panel-button.selected {
	background-color: #3E2500;
}
#chat-header {
	background-color: #420052;
}	
#user-lists .header {
	background-color: #050148;
}
#waitlist .header {
	background-color: #737500;
}
.friends .list-header {
	background-color: #054A00;
}
#rcs-menu .header {
	background-color: #0a0a0a;
}
/* Modif Menu Rcs */
#rcs-found-update {
	color: #FF0027;
}
#rcs-group-mf {
	color: #FF0027;
}
#rcs-group-cn {
	color: #FF0027;
}
#rcs-group-s {
	color: #FF0027;
}
#rcs-group-c {
	color: #FF0027;
}
#rcs-group-m {
	color: #FF0027;
}	
#rcs-menu-container .group {
	color: #FF0027;
}
#rcs-appright-button {
	opacity: 0.3;
}
#rcs-appright-button:hover {
	opacity: 1;
}
#rcs-appright-button.header-panel-button.selected {
	opacity: 1;
}
/* --- */
#chat .cm.deletable .delete-button {
	border-radius: 4px;
	background: linear-gradient(hsl(0,0%,30%), hsl(0,0%,40%));
}
#chat .cm.deletable .delete-button:hover {
	background: linear-gradient(hsl(179,100%,50%), hsl(189,100%,50%));
	box-shadow: 0 0 10px hsl(189,100%,50%);
	color: black;
}
#chat-input {
	box-shadow: 0px 0px 15px 0px rgba(0,249,180,0.5);
	transition: box-shadow 1s; 
}
#chat-input:hover {
	box-shadow: 0px 0px 15px 0px rgba(0,249,180,0.95)
}
#chat-input.focused {
	box-shadow: 0px 0px 15px 0px rgba(0,249,180,0.95) !important;
}
#footer-user .buttons .button .count, #user-menu .item .count, #friends-button .request-count, #user-friends .tab-menu button .count, .app-right .friends .header i{
	background: #088da5 none repeat scroll 0 0;
}
#user-menu .item.selected {
	background: #32234c none repeat scroll 0 0 !important;
}
#dj-button .left {
	border-radius: 5px;
}
#meh, #grab, #woot {
	border-radius: 6px;
}
#app-menu .button i:after {
	opacity: 0;
}
.icon.icon-twitter-selected, .icon.icon-facebook-selected, .icon.icon-chat-sound-on, .icon.icon-chat-sound-off, .icon.icon-emoji-on, .icon.icon-emoji-off, .icon.icon-timestamps-24, .icon.icon-timestamps-off, .icon.icon-timestamps-12, .icon.icon-mention-off, .icon.icon-mention, .icon.icon-radiant-clearchat, .icon.icon-grab, .icon.icon-star-white                                    
{
	transition: transform 3s;
	transform: rotate(360deg)
}
/* Test */
/* -CSS- */



